.idea/
__pycache__/
doc/build/*
conversation_history/*
data/slot_values.json

# evaluation data
eval/data/extras/*

# pytest coverage
.coverage

# pytorch
lightning_logs/
**/wandb/*

# models
models/
**/checkpoints/*

# Exportes and logs
dialogue_export/
data/users.db

# local experimentation
local/
.vscode/
