# Participants' configuration
usersim_config: data/config/usersim_agenda_config.yaml
agent_config: data/config/moviebot_config_rb_nlu.yaml

# Model's parameters
model:
  algorithm: dqn
  policy_input_size: 8
  hidden_size: 128
  model_path: models/policy/dqn_policy.pt

# Training hyperparameters
hyperparams:
  n_episodes: 1000
  batch_size: 32
  gamma: 0.999
  learning_rate: 0.0001
  replay_memory_size: 1000
  eps_start: 0.9
  eps_end: 0.05
  eps_decay: 1000
  tau: 0.005

use_intents: False
turn_penalty: 0.0
no_nlu: False

debug: False
